<div class="container">
  <%= form_tag("/posts/#{@post.id}/update") do %>
    <div class="form">
      <div class="form-body">
          タイトル
        <div>
          <input name="title" value="<%= @post.title %>">
        </div>
          記事内容
        <div>
          <textarea name="content"><%= @post.content %></textarea>
        </div>
        <div>
          <input type="submit" value="Update Article">
        </div>
      </div>
    </div>
  <% end %>
</div>
