<div class="container">
  <%= form_for(@post) do |f| %>
  タイトル
  <div>
    <%= f.text_field :title %>
  </div>
  投稿内容
  <div>
    <%= f.text_area :content %>
  </div>
  <div>
    <%= f.submit "Create Article" %>
  </div>
  <% end %>
</div>
