<div id="title">
    <div>
      <%= @post.updated_at %>書いた人:<%= @user.email %>
      <h1>
        <%= @post.title %>
      </h1>
    </div>
</div>

<div id="article_wrap">

    <div id="content">
        <%= @post.content %>
    </div>

    <div id="sidebar">
        <h2>★PV数ランキング</h2>
        <ul>
            <li><a href=""><span></span></a></li>
            <li><a href="">記事タイトル記事タイトル１記事タイトル記事タイトル<span>（8PV）</span></a></li>
            <li><a href="">記事タイトル記事タイトル１記事タイトル記事タイトル<span>（2PV）</span></a></li>
        </ul>
    </div>
    <div class="clear"></div>

</div>
