@charset "utf-8"

/* 全体設定 */

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  color: #161616;
  font-family: "KozGoPro-Light", "小塚ゴシック Pro L", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
}

.clear {
  clear: both;
}

.container {
  width: 1000px;
  padding: 20px 0;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

/* フラッシュ */
// .flash {
//   padding: 10px 0;
//   color: white;
//   background: rgb(251, 170, 88);
//   text-align: center;
//   position: absolute;
//   top: 64px;
//   z-index: 10;
//   width: 100%;
//   border-radius: 0 0 2px 2px;
//   font-size: 14px;
// }

/* ヘッダー */

header {
  width: 1000px;
  padding: 20px 0;
  margin: 0 auto;
}

p#logo {
  font-size: 24px;
  font-weight: 100;
  float: left;
}

p#logo a {
  color: #161616;
}

p#logo a span {
  font-weight: bold;
  color: #00a9a2;
}

nav {
  float: right;
  margin-top: 15px;
}

nav ul li {
  float: left;
  margin-left: 30px;
  list-style-type: none;
}

nav ul li a {
  color: #7d7d7d;
  font-weight: bold;
  text-decoration: none;
}

/* トップ - メイン画像 */

div#main {
  width: 1280px;
  margin: 0 auto;
}

/* トップ - 記事一覧 */

div#article_wrap {
  width: 1000px;
  margin: 20px auto;
}

div#article_list {
  width: 660px;
  float: left;
}

div#article_list div {
  padding: 20px 0;
  border-bottom: 1px solid #7d7d7d;
}

div#article_list div h2 a {
  font-size: 18px;
  color: #161616;
  text-decoration: none;
}

div#article_list div p {
  font-size: 14px;
  font-weight: bold;
  color: #7d7d7d;
}

/* サイドバー */

div#sidebar {
  width: 300px;
  float: right;
}

div#sidebar  h2 {
  margin: 20px 0;
}

div#sidebar ul li{
  list-style-type: none;
}

div#sidebar ul li a {
  color: #00a9a2;
}

div#sidebar ul li a span {
  color: #161616;
}

/* トップ - フッター */

footer {
  padding: 20px 0;
  background-color: #161616;
}

div#footer_inner {
  width: 1000px;
  margin: 0 auto;
}

div#footer_inner p {
  color: #FFF;
  font-size: 12px;
}


/* 記事ページ - タイトル */

div#title {
  background-color: #343434;
  height: 130px;
  color: #FFF;
  text-shadow: 9px 3px 5px #000;
  padding-top: 60px;
}

div#title div {
  width: 1000px;
  margin: 0 auto;
}

div#title h1 {
  font-size: 30px;
}

/* 記事ページ - 記事内容 */

div#content {
  width: 660px;
  float: left;
}

div#content h2 {
  margin: 20px 0;
}
